@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/1920px-Masterchef-junior-logo.jpg" style="width: 500px;" />
    <h3>RODRIGO BARBOSA ALENCAR - 332098</h3>
    <h3>PEDRO BONATTI - 332203</h3>
    <h3>LUIZ GUSTAVO PALHARES DA SILVA - 332647</h3>
    <h3>FELIPE TADEU GUERRA BREDA - 332226</h3>
</div>
